{% extends "base/navbar.html" %}
{% load static %}
{% block title %}Courses{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
    <!-- Navbar Section End -->
    {% comment %} {% if courses %} {% endcomment %}
    {% block content %}
    <div class="courses_section_one">
        <div class="container">
            {% if course %}
            <div class="info_item_section">
                <h5>{{course.name}}</h5>

                <div class="courses_video_details">
                    <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-12">
                  
                      {% with first_lesson=course.lessons.last %}
                        {% if first_lesson %}
                          {% with first_lecture=first_lesson.lectures.last %}
                            {% if first_lecture %}
                              <video controls id="video-player" class="courses_video_image">
                                <source src="{{ first_lecture.video.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                              </video>
                              {%else%}
                            <img src="{% static 'images/courses_video.png' %}" alt="" class="courses_video_image">
                            {% endif %}
                          {% endwith %}
                        {% endif %}
                      {% endwith %}

                            <p class="video_desc">{{course.course_description}}
                            </p>
                            <div class="instructor_text">
                                <p>Instructor(s):</p>
                                <h6>{{course.instructor.name}}</h6>
                            </div>
                            <div class="instructor_text" style="margin-top: 11px;">
                                <p>Class Length:</p>
                                <h6>{{course.course_legth}}</h6>
                            </div>
                            <div class="instructor_text" style="margin-top: 11px;">
                                <p>Category:</p>
                                <h6>{{course.category.name}}</h6>
                            </div>

                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                            <div class="class_detail_section">
                                <!-- <a href="#">
                                    <div class="class_item_one">
                                        <img src="images/play.svg" alt="">
                                        <h6>Class Trailer</h6>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="class_item_one">
                                        <img src="images/play.svg" alt="">
                                        <h6>Class Sample</h6>
                                    </div>
                                </a> -->
                                {% if not usercourse and not usercourse.is_paid %}
                                <div class="lesson_plan_section">
                                    <h4>Browse Lesson Plan</h4>
                                    <div class="accordion accordion-flush accordion_section" id="accordionFlushExample">
                                        {% for less in course.lessons.all|dictsort:"id" %}
                                        <div class="accordion-item 
                                        {% if not forloop.first %} disable_section{% endif %}">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed accordion_button_one"
                                                    type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#flush-collapse{{less.id}}" aria-expanded="false"
                                                    aria-controls="flush-collapse{{less.id}}" {% if not forloop.first %} disabled{% endif %}>
                                                    1. {{less.name}}
                                                </button>
                                            </h2>
                                            <div id="flush-collapse{{less.id}}" class="accordion-collapse collapse"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body accordion_body">
                                                    {% for lec in less.lectures.all %}
                                        <p class="accordion_body_desc">
                                            {{forloop.counter}}. 
                                            <a href="javascript:void(0);" onclick="changeVideoSource('{{ lec.video.url }}');">{{lec.name}}</a>
                                        </p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!-- class="disable_section"    -->
                                        
                                        <a href="{% if request.user.is_authenticated %}{% url 'courses_form' course.id %}{% else %}{% url 'login' %}{% endif %}">
                                            <div class="unlock_purchase_button">
                                                <button type="button"> Purchase Course to unlock</button>
                                            </div>
                                        </a>
                                    </div>

                                </div>

                                <div class="sign_button">
                                    <a href="{% if request.user.is_authenticated %}{% url 'courses_form' course.id %}{% else %}{% url 'login' %}{% endif %}">
                                        <button type="button" class="about_signup_button">Purchase Course</button>
                                    </a>
                                </div>
                                {% else %}
                                <div class="lesson_plan_section">
                                    <h4>Browse Lesson Plan</h4>
                                    <div class="accordion accordion-flush accordion_section" id="accordionFlushExample">
                                        {% for less in course.lessons.all|dictsort:"id" %}
                                        <div class="accordion-item">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed accordion_button_one"
                                                    type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#flush-collapse{{less.id}}" aria-expanded="false"
                                                    aria-controls="flush-collapse{{less.id}}" >
                                                    1. {{less.name}}
                                                </button>
                                            </h2>
                                            <div id="flush-collapse{{less.id}}" class="accordion-collapse collapse"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body accordion_body">
                                                    {% for lec in less.lectures.all %}
                                        <p class="accordion_body_desc">
                                            {{forloop.counter}}. 
                                            <a href="javascript:void(0);" onclick="changeVideoSource('{{ lec.video.url }}');">{{lec.name}}</a>
                                        </p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                      
                                    </div>

                                </div>
                                {% endif %}


                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <p>No course Available at this time </p>
            {% endif %}
        </div>
    </div>
    {% endblock %}
    {% comment %} {% else %}
    <p style="color:red"> No Course Available at this time </p>
    {% endif %} {% endcomment %}

    
    {% block js %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <!-- jquery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script>
        // user name only 8 character show 
        $(".user_name_top").text(function (index, currentText) {
            return currentText.substr(0, 9);
        });
    </script>

    <script>
        function changeVideoSource(newSource) {
            var videoElement = document.getElementById('video-player');
            var sourceElement = videoElement.getElementsByTagName('source')[0];
            
            sourceElement.src = newSource;
            
            // Load and play the new video source
            videoElement.load();
            videoElement.play();
        }
    </script>
</body>
</html>

    {% endblock %}