{% extends "base/navbar.html" %}
{% load static %}
{% block title %}PropStart{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
    <!-- Navbar Section End -->
    
    {% comment %} {% if courses %} {% endcomment %}
    {% block content %}

    <div class="courses_section_one">
        <div class="container">
            {% if messages %}
            {% for message in messages %}
                {% if  message.tags == "success" %}
                    <p class='msgg' style='color:green;'>{{ message }}</p>
                {% else %}
                    <p class='msgg' style='color:red;'>{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
            {% if course %}
            <div class="info_item_section">
                <h5>{{course.name}}</h5>

                <div class="courses_video_details">
                    <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-12">
                  
                      {% with first_lesson=course.lessons.last %}
                        {% if first_lesson %}
                          {% with first_lecture=first_lesson.lectures.last %}
                            {% if first_lecture %}
                              <video controls id="video-player" oncontextmenu="return false;" controlsList="nodownload" class="courses_video_image">
                                <source src="{{ first_lecture.video.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                              </video>
                              {%else%}
                            <img src="{% static 'images/courses_video.png' %}" alt="" class="courses_video_image">
                            {% endif %}
                          {% endwith %}
                        {% endif %}
                      {% endwith %}

                            <p class="video_desc">{{course.course_description}}
                            </p>
                            <div class="instructor_text">
                                <p>Instructor(s):</p>
                                <h6>{{course.instructor.name}}</h6>
                            </div>
                            <div class="instructor_text" style="margin-top: 11px;">
                                <p>Class Length:</p>
                                <h6>{{course.course_legth}}</h6>
                            </div>
                            <div class="instructor_text" style="margin-top: 11px;">
                                <p>Category:</p>
                                <h6>{{course.category.name}}</h6>
                            </div>

                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                            <div class="class_detail_section">
                                <!-- <a href="#">
                                    <div class="class_item_one">
                                        <img src="images/play.svg" alt="">
                                        <h6>Class Trailer</h6>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="class_item_one">
                                        <img src="images/play.svg" alt="">
                                        <h6>Class Sample</h6>
                                    </div>
                                </a> -->
                                {% if not usercourse and not usercourse.is_paid %}
                                <div class="lesson_plan_section">
                                    <h4>Course Overview</h4>
                                    <div class="accordion accordion-flush accordion_section" id="accordionFlushExample">
                                        {% for less in course.lessons.all|dictsort:"id" %}
                                        <div class="accordion-item 
                                        {% if not forloop.first %} disable_section{% endif %}">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed accordion_button_one"
                                                    type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#flush-collapse{{less.id}}" aria-expanded="false"
                                                    aria-controls="flush-collapse{{less.id}}" {% if not forloop.first %} disabled{% endif %}>
                                                    {{less.name}}
                                                </button>
                                            </h2>
                                            <div id="flush-collapse{{less.id}}" class="accordion-collapse collapse"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body accordion_body">
                                                    {% for lec in less.lectures.all %}
                                        <p class="accordion_body_desc">
                                            {{forloop.counter}}
                                            <a href="javascript:void(0);" onclick="changeVideoSource('');">{{lec.name}}</a>
                                        </p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!-- class="disable_section"    -->
                                        
                                        {% comment %} <a href="{% if request.user.is_authenticated %}{% url 'courses_form'  %}{% else %}{% url 'login' %}{% endif %}">
                                            <div class="unlock_purchase_button">
                                                <button type="button"> Purchase Course to unlock</button>
                                            </div>
                                        </a> {% endcomment %}
                                    </div>

                                </div>

                                <div class="sign_button">
                                    <a href="{% if request.user.is_authenticated %}#{% else %}{% url 'login' %}{% endif %}">
                                        <button type="button" class="about_signup_button">Register Interest</button>
                                    </a>
                                </div>
                                {% else %}
                                <div class="lesson_plan_section">
                                    <h4>Browse Lesson Plan</h4>
                                    <div class="accordion accordion-flush accordion_section" id="accordionFlushExample">
                                        {% for less in course.lessons.all|dictsort:"id" %}
                                        <div class="accordion-item">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed accordion_button_one"
                                                    type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#flush-collapse{{less.id}}" aria-expanded="false"
                                                    aria-controls="flush-collapse{{less.id}}" >
                                                    {{less.name}}
                                                </button>
                                            </h2>
                                            <div id="flush-collapse{{less.id}}" class="accordion-collapse collapse"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body accordion_body">
                                                    {% for lec in less.lectures.all %}
                                        <p class="accordion_body_desc">
                                            {{forloop.counter}}
                                            <a href="javascript:void(0);" onclick="changeVideoSource('{{ lec.video.url }}');">{{lec.name}}</a>
                                        </p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                      
                                    </div>

                                </div>
                                {% endif %}


                                

                            </div>
                        </div>
                    </div>
                    <div class="course_lecture_desc_sec mt-4">
                        <div class="lecture_card001">
                          <h6>In this Course:</h6>
                          <p>
                            Dive into the comprehensive world of property and finance
                            fundamentals before embarking on your real estate journey. Benefit
                            from expert instructors with a collective acquisition experience
                            exceeding $200 million in Australian property. With licenses in
                            Real Estate and Mortgage Broking, our seasoned professionals bring
                            years of industry expertise to guide you through the intricacies
                            of the market.
                          </p>
                        </div>
                        <div class="lecture_card002">
                          <img src="{% static 'images/Rectangle 340.svg' %}" alt="" class="overlay_image"/>
                          <img src="{% static 'images/point finger jared_edited 1.png' %}" alt=""/>
                          <div class="lecture_card002_desc">
                            <p>Your Instructor:</p>
                            <h6>Jared Kirkwood</h6>
                            <span>Propstart - Director</span>
              
                          </div>
                        </div>
                        <div class="lecture_card002">
                          <img src="{% static 'images/Rectangle 340.svg' %}" alt="" class="overlay_image"/>
                          <img src="{% static 'images/sadeq.png' %}" alt=""/>
                          <div class="lecture_card002_desc">
                            <p>Your Instructor:</p>
                            <h6>Sadeq Abbas</h6>
                            <span>Propstart - Director</span>
              
                          </div>
                        </div>
                        <div class="lecture_card001">
                          <h6>Learn How to:</h6>
                          <ul>
                            <li>
                              <p>
                                Structure your property portfolio the right way
                              </p>
                            </li>
                            <li>
                              <p>
                                Start investing in property effectively
                              </p>
                            </li>
                            <li>
                              <p>
                                Grow your property portfolio the fastest possible way
                              </p>
                            </li>
                            <li>
                              <p>
                                Set and achieve your financial goals
                              </p>
                            </li>
                          </ul>
                        </div>
                        <div class="lecture_card001">
                          <h6>Who it’s for:</h6>
                          <ul>
                            <li>
                              <p>
                                Aspiring property investors seeking to build a robust property portfolio
                              </p>
                            </li>
                            <li>
                              <p>
                                Prospective real estate enthusiasts seeking to expand their investment portfolio
                              </p>
                            </li>
                            <li>
                              <p>
                                Those committed to mastering the art of successful property investment
                              </p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    <p class="courseDescBottom"><span>Disclaimer:</span> All care is taken in the preparation of the information and published materials on this site. PropStart Pty Ltd does not make any representations or give any warranties about its accuracy, reliability, completeness or suitability for any particular purpose. To the extent permissible by law, PropStart Pty Ltd will not be liable for any expenses, losses, damages (including indirect or consequential damages) or costs which might be incurred as a result of the information being inaccurate or incomplete in any way and for any reason.</p>
                </div>
            </div>
            {% else %}
            <p>No course Available at this time </p>
            {% endif %}
        </div>
    </div>
    {% endblock %}
    {% comment %} {% else %}
    <p style="color:red"> No Course Available at this time </p>
    {% endif %} {% endcomment %}

    
    {% block js %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <!-- jquery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>



    <script>
        var video = document.getElementById('video-player');
        video.addEventListener('contextmenu', function (e) {
          e.preventDefault();
        });
        function changeVideoSource(newSource) {
            var videoElement = document.getElementById('video-player');
            var sourceElement = videoElement.getElementsByTagName('source')[0];
            
            sourceElement.src = newSource;
            
            // Load and play the new video source
            videoElement.load();
            videoElement.play();
        }
        {% comment %} button hide and show  {% endcomment %}
        $(document).ready(function() {
            // Initially hide the purchase button
            $(".unlock_purchase_button").hide();
        
            // When you hover over the disable_section, show the purchase button
            $(".disable_section").hover(function() {
                $(".unlock_purchase_button").show();
            }, function() {
                // When you move the mouse away, hide the purchase button
                $(".unlock_purchase_button").hide();
            });
        });
    </script>



</body>
</html>

    {% endblock %}