{% extends "base/navbar.html" %} {% load static %} {% block title %}Home{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}

<!-- Smart Learning Strategic Buying Section Start -->
{% block content %}
<div class="" id="fullpage">
  <div class="section_2 section">
    <div class="container" style="position: relative">
      <div class="row">
        <div
          class="col-lg-6 col-md-6 col-sm-12 col-12 learning_text_main_section"
        >
          <div
            class="learning_text_section"
            data-aos="fade-up"
            data-aos-duration="3000"
          >
            <h6>
              Smart Learning Strategic
              <span>Buying</span>
            </h6>
            <p>
              Unless you've been living under a rock, we are all aware how
              difficult it is to buy a home. PropStart is founded by two
              millennials, who have found a way.
            </p>

            <div class="learning_text_button">
              <a href="{% url 'courses' %}">
                <button type="button" class="pre_order_button">
                  Pre-Order
                </button>
              </a>
              <a href="{% url 'on-boarding1' %}">
                <button
                  type="submit"
                  class="pre_order_button"
                  style="background: #0d4949"
                >
                  Book a Call
                </button>
              </a>
            </div>
          </div>
        </div>
        <div
          class="col-lg-6 col-md-6 col-sm-12 col-12 two_images_div"
          style="position: relative"
        >
          <!-- <img src="{% static 'images/rafiki.png' %}" alt="" class="rafiki_image"> -->
          <!-- <img src="{% static 'images/Group 21.svg' %}" alt="" class="arrow_bottom_image"> -->
          <div class="scrollcontainer">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
          </div>
          <div class="video-container">
            <div
              class="video-wrapper"
              id="video-wrapper"
              data-aos="fade-up"
              data-aos-duration="3000">
              <!-- <video src="{% static 'videos/IMG_0712 (2).mp4' %}" muted autoplay="true" loop
                id="myVideo" class="rafiki_image"></video> -->
                <img src="{% static 'videos/first_gif1.gif' %}" alt="" class="rafiki_image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end -->

  <!-- Beyond the Conventional Classroom Start  -->
  <div class="section_3 section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 buyend_image_sec">
          <img
            src="{% static 'videos/gift1.gif' %}"
            alt=""
            class="buyend_image"
            data-aos="fade-up"
            data-aos-duration="3000"
          />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div
            class="beyond_text_main_section"
            data-aos="fade-up"
            data-aos-duration="2500"
          >
            <div class="beyond_text_div">
              <h5>Beyond the Conventional Classroom</h5>
              <p>
                At PropStart we believe owning property starts not when you buy,
                but when you start thinking that you'd like to.
              </p>
            </div>

            <a href="{% url 'courses' %}" style="text-decoration: none">
              <button type="submit" class="pre_order_button2">
                Learn more
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end -->

  <!-- Invest Without Compromise Start  -->
  <div class="section_4 section">
    <div class="container">
      <div class="row section_3_row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div
            class="invest_text_main_section"
            data-aos="fade-up"
            data-aos-duration="2500"
          >
            <div class="invest_text_div">
              <h5>Invest Without Compromise</h5>
              <p>
                Investing shouldn't mean we need to compromise our standards of
                living, learn to invest whilst still enjoying your brunch and
                avocados
              </p>
            </div>
            <button type="submit" id="nextPage" class="back_a_button2">
              Book a Call
            </button>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 buyend_image_sec">
          <img
            src="{% static 'videos/gift2.gif' %}"
            alt=""
            class="buyend_image"
            data-aos="fade-up"
            data-aos-duration="3000"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- end -->

  <!-- Is PropStart Right for you Start -->
  <div class="home_section_four section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 col-12 untitled_group_image">
          <!-- data-aos="zoom-in" data-aos-duration="3000" -->
          <img
            src="{% static 'images/Untitled (1).svg' %}"
            alt=""
            class="untitled_group_image_img group_img_block"
            data-aos="fade-up"
            data-aos-duration="3000"
          />
          <div class="right_of_you" data-aos="fade-up" data-aos-duration="3000">
            <div>
              <!-- <img src="{% static 'images/circle_img.svg' %}" alt=""> -->
              <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 195 214" fill="none" class="subtractImg01">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.61074 0.000106542C4.40719 0.000324209 4.20361 0.000875438 4 0.00176059V0.00986725C4.10422 0.00986725 4.21078 0.00745463 4.31852 0.0050152C4.41525 0.00282508 4.51293 0.000613354 4.61074 0.000106542ZM4 103.614V103.645C42.1507 103.31 77.839 127.45 91.6641 165.904C91.9419 167.048 92.2485 168.193 92.6126 169.327C101.216 196.594 129.661 211.52 156.152 202.661C182.634 193.812 197.129 164.523 188.526 137.246C161.872 53.2894 86.1336 -0.0452413 4.7064 2.8796e-05C32.5325 0.0305703 55.0847 23.271 55.0847 51.9202C55.0847 79.2368 34.601 101.601 8.59876 103.673C7.06584 103.604 5.53292 103.594 4 103.614Z" fill="#0D4949" />
            </svg> -->
              <img
                src="{% static 'images/Subtract_01.png' %}"
                alt=""
                class="subtractImg01"
              />
              <img
                src="{% static 'images/Subtract_02.png' %}"
                alt=""
                class="subtractImg02"
              />
              <img
                src="{% static 'images/Subtract_03.png' %}"
                alt=""
                class="subtractImg03"
              />
              <img
                src="{% static 'images/Subtract_04.png' %}"
                alt=""
                class="subtractImg04"
              />
              <img
                src="{% static 'images/Subtract.png' %}"
                alt=""
                class="subtractImg05"
              />
            </div>
            <img
              src="{% static 'images/chevron_line.svg' %}"
              alt=""
              class="untitled_group_image_img"
            />
            <div>
              <div class="icon_number icon_number01">
                <h6>01</h6>
                <p class="icon_text text01">Education</p>
              </div>
              <div class="icon_number icon_number02">
                <h6>02</h6>
                <p class="icon_text">Consult</p>
              </div>
              <div class="icon_number icon_number03">
                <h6>03</h6>
                <p class="icon_text">Invest</p>
              </div>
              <div class="icon_number icon_number04">
                <h6>04</h6>
                <p class="icon_text">Grow</p>
              </div>
              <div class="icon_number icon_number05">
                <h6>05</h6>
                <p class="icon_text">DreamHouse</p>
              </div>
              
              <img
                src="{% static 'images/01.svg' %}"
                alt=""
                class="right_of_you_icon img01"
                onmouseover="addHoverEffect('subtractImg01')"
                onmouseout="removeHoverEffect('subtractImg01')"
              />
              <img
                src="{% static 'images/02.svg' %}"
                alt=""
                class="right_of_you_icon img02"
                onmouseover="addHoverEffect('subtractImg02')"
                onmouseout="removeHoverEffect('subtractImg02')"
              />
              <img
                src="{% static 'images/03.svg' %}"
                alt=""
                class="right_of_you_icon img03"
                onmouseover="addHoverEffect('subtractImg03')"
                onmouseout="removeHoverEffect('subtractImg03')"
              />
              <img
                src="{% static 'images/04.svg' %}"
                alt=""
                class="right_of_you_icon img04"
                onmouseover="addHoverEffect('subtractImg04')"
                onmouseout="removeHoverEffect('subtractImg04')"
              />
              <img
                src="{% static 'images/05.svg' %}"
                alt=""
                class="right_of_you_icon img05"
                onmouseover="addHoverEffect('subtractImg05')"
                onmouseout="removeHoverEffect('subtractImg05')"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-12 propstart_text_section">
          <div
            class="propstart_text"
            data-aos="fade-up"
            data-aos-duration="3000"
          >
            <h4 class="text_append_h4">Is PropStart Right for you?</h4>
            <a href="{% url 'quiz-1' %}">
              <button type="button" class="take_quiz_button">Take Quiz</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End -->

  <!-- Your Journey Starts Here  Start -->
  <div class="home_section_five section">
    <div class="container">
      <div
        class="journey_start_section"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        <h4>Your Journey Starts Here</h4>
        <div
          class="journey_start_button_group"
          data-aos="fade-up"
          data-aos-duration="3000"
        >
          <a href="{% url 'signup' %}">
            <button
              type="submit"
              class="journey_start_button journey_start_button_sign"
            >
              Sign Up
            </button>
          </a>
          <a href="{% url 'on-boarding1' %}">
            <button
              type="submit"
              class="journey_start_button journey_start_button_call"
              style="background: none"
            >
              Book a Call
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %} {% block footer %} {% include "base/footer.html" %} {% endblock footer %} {% block js %}
</div>
<!-- end -->

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
  crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
<!-- Load fullPage.js first -->
<script src="{% static 'js/fullpage.js' %}"></script>
<!-- Then load AOS -->
<script src="{% static 'js/aos.js' %}"></script>
<!-- <script>
  function addHoverEffect(elementClass) {
    const element = document.querySelector("." + elementClass);
    if (element) {
      element.classList.add("hovered");
    }
  }

  function removeHoverEffect(elementClass) {
    const element = document.querySelector("." + elementClass);
    if (element) {
      element.classList.remove("hovered");
    }
  }
</script> -->
<!-- jquery cdn -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

  // window.addEventListener('load', () => {
  //     // Smoothly scroll to the top of the page when the page is loaded or refreshed
  //     window.scrollTo({
  //         top: 0,
  //         behavior: 'smooth'
  //     });
  // });
  // const sectionsContainer = document.querySelector('.sections-container');
  // const sections = document.querySelectorAll('.all_sections');
  // let currentSectionIndex = 0;
  // let isScrolling = false;

  // sectionsContainer.addEventListener('wheel', (e) => {
  //     e.preventDefault();

  //     if (!isScrolling) {
  //         isScrolling = true;

  //         if (e.deltaY > 0 && currentSectionIndex < sections.length - 1) {
  //             currentSectionIndex++;
  //         } else if (e.deltaY < 0 && currentSectionIndex > 0) {
  //             currentSectionIndex--;
  //         }

  //         scrollToSection(currentSectionIndex);

  //         setTimeout(() => {
  //             isScrolling = false;
  //         }, 500); // Adjust the delay as needed
  //     }
  // });

  // function scrollToSection(index) {
  //     sections[index].scrollIntoView({ behavior: 'smooth' });
  // }

  // next page render
  $("#nextPage").click(function () {
    window.location.href = " {% url 'on-boarding1' %} ";
  });
  // video play button js
  $(document).ready(function () {
    // const video = $("#myVideo")[0];
    // const playButton = $(".play-button");
    // // Function to toggle play/pause and show/hide buttons
    // function togglePlay() {
    //     if (video.paused) {
    //         video.play();
    //     } else {
    //         video.pause();
    //     }
    //     // Show buttons and start the fadeout timer
    //     playButton.fadeIn();
    //     setTimeout(function() {
    //         playButton.fadeOut();
    //     }, 900); // Hide buttons after 3 seconds
    // }
    // $("#video-wrapper").click(togglePlay);
    // video.addEventListener("play", function() {
    //     $(".play-icon").show();
    //     $(".pause-icon").hide();
    // });
    // video.addEventListener("pause", function() {
    //     $(".play-icon").hide();
    //     $(".pause-icon").show();
    // });
    // text append on hover
    // When hovering over .img01
    // Store the original text
    // Store the original text
    // var originalText = $(".text_append_h4").text();
    // // Function to handle hover and text appending logic
    // function handleImageHover(imgClass, iconNumberClass) {
    //     $(imgClass).mouseenter(function () {
    //         // Get the text value of the associated .icon_text element
    //         var textValue = $(iconNumberClass + " .icon_text").text();
    //         // Append the text value as an h4 element with the class "text_append_h4"
    //         $(".text_append_h4").empty().append('<h4 class="text_append_span text-center">' + textValue + '</h4>');
    //         // Fade in the appended h4 element
    //         $(".text_append_h4").fadeIn(200);
    //     });
    //     $(imgClass).mouseleave(function () {
    //         // Hide the appended h4 element
    //         $(".text_append_h4").fadeOut(200, function () {
    //             // Show the original text
    //             $(".text_append_h4").text(originalText).fadeIn(200);
    //         });
    //     });
    // }
    // // Call the function for each image and associated icon_number
    // handleImageHover(".img01", ".icon_number01");
    // handleImageHover(".img02", ".icon_number02");
    // handleImageHover(".img03", ".icon_number03");
    // handleImageHover(".img04", ".icon_number04");
    // handleImageHover(".img05", ".icon_number05");
    // // Repeat for other images as needed
  });
</script>

{% endblock js %}

<!-- </body>

</html> -->
