{% load static  %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PropStart</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
   <!-- Favicon link  -->
   <link rel="icon" type="image/x-icon" href="{% static 'images/Untitled_log.svg' %}">
   <!-- style.css link  -->
  <!-- style css link -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <!-- Navbar Section Start -->
    <div class="section_1">
      <div class="container">
        <nav class="navbar navbar-expand-lg p-0">
          <div class="container-fluid p-0">
            <a class="navbar-brand navbar_brand" href="{% url 'home' %}"
              ><img src="{% static 'images/logo.svg' %}" alt=""
            /></a>
            <button
              class="navbar-toggler navbar_toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav_ul">
                <li class="nav-item">
                  <a
                    class="nav-link nav_link"
                    aria-current="page"
                    href="{% url 'home' %}"
                    ><span class="href_active">Home</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link nav_link" href="{% url 'courses' %}"
                    ><span>Courses</span></a
                  >
                </li>
                {% if not request.user.is_authenticated %}
                <li class="nav-item nav_item_register">
                  <img src="{% static 'images/Vector.svg' %}" alt="" />
                  <a class="register_link" href="{% url 'login' %}">Login</a>
                  <span class="register_link">/</span>
                  <a class="register_link" href="{% url 'signup' %}"
                    >Register</a
                  >
                </li>
                {% else %}
                <div
                  class="dropdown"
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                  "
                >
                  <button
                    class="dropdown-toggle header_dropdown_top"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <div class="user_name_and_iamge">
                      {% load custom_tags %}
                      <h6 class="user_name_top">
                        {% first_two_words user.first_name %}
                      </h6>
                      <img
                        src="{% if user.profile_img %}{{user.profile_img.url}}{% elif user.socialaccount_set.all.0.get_avatar_url %}{{ user.socialaccount_set.all.0.get_avatar_url }}{% else %}{% static 'images/dummy.jpeg' %}{% endif %}"
                        alt=""
                      />
                    </div>
                  </button>
                  <ul class="dropdown-menu dropdown_menu_item">
                    <li>
                      <a
                        class="dropdown-item item_1"
                        href="{% url 'dashboard' %}"
                        >Dashboard</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item item_1"
                        href="{% url 'profile' %}"
                        >Profile</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item item_1"
                        href="{% url 'change_password' %}"
                        >Change Password</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item item_1"
                        href="{% url 'user_logout' %}"
                        >Logout</a
                      >
                    </li>
                  </ul>
                </div>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- Navbar Section End -->
    <div class="terms_and_conditions_section">
      <div class="container">
        <div class="desc_section">
          <h2>WEBSITE DISCLAIMER</h2>
          <p>
            All care is taken in the preparation of the information and
            published materials on this site. PropStart Pty Ltd does not make
            any representations or give any warranties about its accuracy,
            reliability, completeness or suitability for any particular purpose.
            To the extent permissible by law, PropStart Pty Ltd will not be
            liable for any expenses, losses, damages (including indirect or
            consequential damages) or costs which might be incurred as a result
            of the information being inaccurate or incomplete in any way and for
            any reason.
          </p>
          <p class="pt-4">
            This site may contain hypertext links, frames or other references to
            other parties and their websites. PropStart Pty Ltd cannot control
            the contents of those other sites, and make no warranty about the
            accuracy, timeliness or subject matter of the material located on
            those sites. PropStart Pty Ltd do not necessarily approve of,
            endorse, or sponsor any content or material on such sites. PropStart
            Pty Ltd make no warranties or representations that material on other
            websites to which this website is linked does not infringe the
            intellectual property rights of any person anywhere in the world.
          </p>
          <p class="pt-4">
            PropStart Pty Ltd are not, and must not be taken to be, authorising
            infringement of any intellectual property rights contained in
            material or other sites by linking or allowing links to, this
            website to such material on other sites.
          </p>
          <p class="pt-4">
            If you have any concerns regarding the content of the Website,
            please contact PropStart Pty Ltd.
          </p>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
