{% extends "base/navbar.html" %}
{% load static %}
{% block title %}PropStart{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'css/dashboard.css' %}"> {% endcomment %}
{% endblock %}
    
    {% block content %}

    <div class="courses_section_one">
        <div class="container">
            
            <div class="info_item_section">
                <h2 class='wellcomeMsj'> Thank you for registering your interest for the Property Pro course. We will notify you via email as soon as this course is ready! </h2>
              <div class='text-center'>
                <a href="{% url 'home' %}">
                    <button type="submit" class="goToCourseBtn mt-5">Home</button>
                   </a>
              </div>
            </div>
        </div>
    </div>
    {% endblock %}
   

    
    {% block js %}

    {% endblock %}