{% extends "base/dashboard/header.html" %} {% load static %} {% block content %}

<div class="dashboard_main_section">
  <!-- Sidebar Section  -->
  {% include "base/dashboard/sidebar.html" %}
  <div class="main_content">
    <!-- Header Section  -->
    {% include "base/dashboard/headerbar.html" %}
    <div class="dashboard_section_one">
      <div class="dashboard_section_one_header">
        <p>
          <img
            src="{% static 'images/carbon_book1.svg' %}"
            alt=""
            class="time_date_image"
            style="width: 21px; height: 22px"
          />
          <span>30 Lessons</span> |
          <span
            ><img
              src="{% static 'images/time.svg' %}"
              alt=""
              class="time_date_image"
            />
            4 Hours +</span
          >
        </p>
        <h1>Property Pro</h1>
        {% if course %}
        <div class="row">
          <div class="col-lg-7 col-md-12 col-sm-12 col-12 mt-4">
            <div class="">
              {% with first_lesson=course.lessons.last %}
              {% if first_lesson %}
                {% with first_lecture=first_lesson.lectures.last %}
                  {% if first_lecture %}
                  <input type="hidden" id="furl" value="{{ first_lecture.url_1 }}">
                  <div class="video_mask">
                    <video controls id="video-player" preload="none"  oncontextmenu="return false;" controlsList="nodownload" class="dashboard_course_img" autoplay muted>
                      <source src="{{ first_lecture.url_1 }}" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  </div>
                  {%else%}
              <img
                src="{% static 'images/saud.png' %}"
                alt=""
                class="dashboard_course_img"
              />
              <div class="play_button_video">
                <i class="bi bi-play"></i>
              </div>
              {% endif %}
              {% endwith %}
            {% endif %}
          {% endwith %}
            </div>
          </div>
          {% if  request.user.is_authenticated %}
          <div class="col-lg-5 col-md-12 col-sm-12 col-12 mt-4">
            <div
              class="accordion accordion-flush dashboard_accordion_section"
              id="accordionFlushExample"
            >
            {% if not usercourse and not usercourse.is_paid %}
            {% for less in course.lessons.all|dictsort:"id" %}
              <div class="accordion-item {% if not forloop.first %} disable_section{% endif %}">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed dashboard_accordion_button mt-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne{{less.id}}"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne{{less.id}}"
                    {% if not forloop.first %} disabled{% endif %}>
                  {{less.name}}
                  </button>
                </h2>
                <div
                  id="flush-collapseOne{{less.id}}"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body dashboard_accordion_body">
                    {% for lec in less.lectures.all %}
                    <p class="dashboard_accordion_body_p">
                      {{forloop.counter}}
                      <a href="javascript:void(0);" onclick="changeVideoSource('{{ lec.url_1 }}');">{{lec.name}}</a>
                    </p>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% endfor %}
              {% else %}

              {% endif %}
            </div>
          </div>

          {% else %}
            <div class="col-lg-5 col-md-12 col-sm-12 col-12 mt-4">
            <div
              class="accordion accordion-flush dashboard_accordion_section"
              id="accordionFlushExample"
            >
            {% for less in course.lessons.all|dictsort:"id" %}
              <div class="accordion-item ">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed dashboard_accordion_button mt-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne{{less.id}}"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne{{less.id}}"
                    >
                  {{less.name}}
                  </button>
                </h2>
                <div
                  id="flush-collapseOne{{less.id}}"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body dashboard_accordion_body">
                    {% for lec in less.lectures.all %}
                    <p class="dashboard_accordion_body_p">
                      {{forloop.counter}}
                      <a href="javascript:void(0);" onclick="changeVideoSource('{{ lec.url_1 }}');">{{lec.name}}</a>
                    </p>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% endfor %}
            
            </div>
          </div>
          {% endif %}


        </div>

        {% else %}
        <p>No course video Available at this time </p>
        {% endif %}

        <div class="course_lecture_desc_sec mt-4">
          <div class="lecture_card001">
            <h6>In this Course:</h6>
            <p>
              Dive into the comprehensive world of property and finance
              fundamentals before embarking on your real estate journey. Benefit
              from expert instructors with a collective acquisition experience
              exceeding $200 million in Australian property. With licenses in
              Real Estate and Mortgage Broking, our seasoned professionals bring
              years of industry expertise to guide you through the intricacies
              of the market.
            </p>
          </div>
          <div class="lecture_card002">
            <div class="overlay_image"></div>
            <img src="{% static 'images/jared.jpeg' %}" alt=""/>
            <div class="lecture_card002_desc">
              <p>Your Instructor:</p>
              <h6>Jared Kirkwood</h6>
              <span>PropStart - Director</span>

            </div>
          </div>
          <div class="lecture_card002">
            <div class="overlay_image"></div>
            <img src="{% static 'images/Sadeq 3.png' %}" alt=""/>
            <div class="lecture_card002_desc">
              <p>Your Instructor:</p>
              <h6>Sadeq Abbas</h6>
              <span>PropStart - Director</span>

            </div>
          </div>
          <div class="lecture_card001">
            <h6>Learn How to:</h6>
            <ul>
              <li>
                <p>
                  Structure your property portfolio the right way
                </p>
              </li>
              <li>
                <p>
                  Start investing in property effectively
                </p>
              </li>
              <li>
                <p>
                  Grow your property portfolio the fastest possible way
                </p>
              </li>
              <li>
                <p>
                  Set and achieve your financial goals
                </p>
              </li>
            </ul>
          </div>
          <div class="lecture_card001">
            <h6>Who it’s for:</h6>
            <ul>
              <li>
                <p>
                  Aspiring property investors seeking to build a robust property portfolio
                </p>
              </li>
              <li>
                <p>
                  Prospective real estate enthusiasts seeking to expand their investment portfolio
                </p>
              </li>
              <li>
                <p>
                  Those committed to mastering the art of successful property investment
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <p class="disclaimer_p">Disclaimer: All care is taken in the preparation of the information and published materials on this site. PropStart Pty Ltd does not make any representations or give any warranties about its accuracy, reliability, completeness or suitability for any particular purpose. To the extent permissible by law, PropStart Pty Ltd will not be liable for any expenses, losses, damages (including indirect or consequential damages) or costs which might be incurred as a result of the information being inaccurate or incomplete in any way and for any reason.</p>
    </div>
  </div>
</div>

<!-- Add Plyr JS -->
<script src="https://cdn.plyr.io/3.6.8/plyr.js"></script>

<script>

 var video = document.getElementById('video-player');
 video.addEventListener('contextmenu', function (e) {
   e.preventDefault();
 });
 function changeVideoSource(newSource) {
     var videoElement = document.getElementById('video-player');
     var sourceElement = videoElement.getElementsByTagName('source')[0];
     
     sourceElement.src = newSource;
     const player = new Plyr('#video-player');
     videoElement.load();
     videoElement.play();
 }



 document.addEventListener('DOMContentLoaded', () => {
   const furl = $("#furl").val(); 
   const videoPlayer = document.getElementById('video-player');
   videoPlayer.setAttribute('src', furl);
   const player = new Plyr(videoPlayer, {
     autoplay: true,
 }); 
});


</script>

{% endblock content %}



