{% extends "base/dashboard/header.html" %} {% load static %} {% block content %}

<div class="dashboard_main_section">
  <!-- Sidebar Section  -->
  {% include "base/dashboard/sidebar.html" %}
  <div class="main_content">
    <!-- Header Section  -->
    {% include "base/dashboard/headerbar.html" %}
    <div class="dashboard_section_one">
      <div class="dashboard_section_one_header">
        <p>New Content Every Other Sunday</p>
        <h1>Premium Content</h1>
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-12 col-12 mt-4">
            {% for c in course %}
            {% if course.first %}
                  <input type="hidden" id="furl" value="{{ course.first.url_1 }}">
                  <div class="video_mask">
                    <video controls id="video-player" preload="none"  oncontextmenu="return false;" controlsList="nodownload" class="dashboard_course_img" autoplay muted>
                      <source src="{{ course.first.url_1 }}" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  </div>
            {% else %}
            
            <div class='video_main_sec'>
              <img src="{% static 'images/div.plyr__video-wrapper.png' %}" alt="" class="premium_course_img"/>
              <div class="play_button_video">
                <i class="bi bi-play"></i>
              </div>
            </div>
            {%  endif %}
            {% endfor %}

            <div class="video_desc002">
                <h2>The Fast and the Furious</h2>
                <p>Dive into the comprehensive world of property and finance fundamentals before embarking on your real estate journey. Benefit from expert instructors with a collective acquisition experience exceeding $200 million in Australian property. With licenses in Real Estate and Mortgage Broking, our seasoned professionals bring years of industry expertise to guide you through the intricacies of the market.</p>
            </div>
          </div>
        </div>
        <div class="premium_swiper_section">
            <div class="swiper premium_swiper">
                <div class="swiper-wrapper premium_swiper_wrapper">
                    <div class="swiper-slide swiper_slide_div">
                        <div class="swiper_card">
                            <img src="{% static 'images/1.jpg.png' %}" alt="" class="swiper_course_img"/>
                            <div class="linear_img"></div>
                            <div class="star_icons_main_div">
                                <i class="bi bi-play-circle"></i>
                                <p>56:36</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper_slide_div">
                        <div class="swiper_card">
                            <img src="{% static 'images/2.jpg.png' %}" alt="" class="swiper_course_img"/>
                            <div class="linear_img"></div>
                            <div class="star_icons_main_div">
                                <i class="bi bi-play-circle"></i>
                                <p>58:41</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper_slide_div">
                        <div class="swiper_card">
                            <img src="{% static 'images/3.jpg.png' %}" alt="" class="swiper_course_img"/>
                            <div class="linear_img"></div>
                            <div class="star_icons_main_div">
                                <i class="bi bi-play-circle"></i>
                                <p>57:19</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper_slide_div">
                        <div class="swiper_card">
                            <img src="{% static 'images/3.jpg.png' %}" alt="" class="swiper_course_img"/>
                            <div class="linear_img"></div>
                            <div class="star_icons_main_div">
                                <i class="bi bi-play-circle"></i>
                                <p>57:19</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper_slide_div">
                        <div class="swiper_card">
                            <img src="{% static 'images/1.jpg.png' %}" alt="" class="swiper_course_img"/>
                            <div class="linear_img"></div>
                            <div class="star_icons_main_div">
                                <i class="bi bi-play-circle"></i>
                                <p>56:36</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-button-next swiper_button_next">
                    <i class="bi bi-arrow-right"></i>
                </div>
                <div class="swiper-button-prev swiper_button_prev">
                    <i class="bi bi-arrow-left"></i>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
<!-- jquery cdn -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Add Plyr JS -->
<script src="https://cdn.plyr.io/3.6.8/plyr.js"></script>

<script>
   var video = document.getElementById('video-player');
   video.addEventListener('contextmenu', function (e) {
     e.preventDefault();
   });
   function changeVideoSource(newSource) {
       var videoElement = document.getElementById('video-player');
       var sourceElement = videoElement.getElementsByTagName('source')[0];
       
       sourceElement.src = newSource;
       const player = new Plyr('#video-player');
       videoElement.load();
       videoElement.play();
   }
  
  
  
   document.addEventListener('DOMContentLoaded', () => {
     const furl = $("#furl").val(); 
     const videoPlayer = document.getElementById('video-player');
     videoPlayer.setAttribute('src', furl);
     const player = new Plyr(videoPlayer, {
       autoplay: true,
   }); 
  });
  
  
  </script>
{% endblock content %}
